@{
    ViewBag.Title = "Rolory Helps You Stay Connected";
}
<br/>
<div class="row">
    <div class="breadcrumb">
        <div class="col-md-push-9">
            <h2>About</h2>
        </div>
    </div>
</div>
<h2>@ViewBag.Title.</h2>
<div class="row">
    <p class="col-md-9">In this day and age, we are communicating more than ever, however, many still feel isolated and disatisfied with the level of connection to their relationships. Why not put the social aspect back in social media? Rolory helps suggest the contacts you've been neglecting and gives you nudge to make the first step in re-connecting. It goal oriented and fun! Give it a try today!
    </p>
</div>

