@{
    ViewBag.Title = "Rolory";
}
<br />
<div class="row">
    <div class="breadcrumb">
        <div class="col-md-push-9">
            <h2>Contact Us</h2>
        </div>
    </div>
</div>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

Coming Soon.