@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
@if (ViewBag.Alert != null)
{ 
    <script>alert("@ViewBag.Alert")</script>
}
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>
<div class="">
    <h1><span>Your Contacts Just Got A Whole Lot More Organized.</span></h1>
    <br/>
    <p><a class="btn btn-primary btn-lg" src=@Html.ActionLink("Learn more","About","Home")</a></p>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
      
    </div>
</div>