@model Rolory.Models.Contact

@{
    ViewBag.Title = "UpdateInfo";
    var message = ViewBag.Message;
}
<br/>
<div class="row">
    <div class="breadcrumb">
        <div class="col-md-push-9">
            <h2>Update @Model.GivenName's Information</h2>
        </div>
    </div>
</div>

<h4>@message</h4>



