
@{
    ViewBag.Title = "Null";
}
<br />
<div class="row">
    <div class="breadcrumb">
        <div class="col-md-push-9">
            <h2>There Are No Contacts Logged</h2>
        </div>
    </div>
</div>

<p><a class="btn btn-primary btn-lg" src=@Html.ActionLink("Import","Create")</a></p>
<p><a class="btn btn-primary btn-lg" src=@Html.ActionLink("Create New","Create")</a></p>

